### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

In [2]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

#1. Análisis de facturación

In [4]:
#Ingreso total
ingresos_totales_tienda  = tienda['Precio'].sum()
ingresos_totales_tienda2  = tienda2['Precio'].sum()
ingresos_totales_tienda3  = tienda3['Precio'].sum()
ingresos_totales_tienda4  = tienda4['Precio'].sum()
print(ingresos_totales_tienda)
print(ingresos_totales_tienda2)
print(ingresos_totales_tienda3)
print(ingresos_totales_tienda4)

1150880400.0
1116343500.0
1098019600.0
1038375700.0

# 2. Ventas por categoría

In [10]:
ventas_tienda_por_categoria = tienda['Categoría del Producto'].value_counts()
ventas_tienda2_por_categoria = tienda2['Categoría del Producto'].value_counts()
ventas_tienda3_por_categoria = tienda3['Categoría del Producto'].value_counts()
ventas_tienda4_por_categoria = tienda4['Categoría del Producto'].value_counts()

df_ventas_tiendas_por_categoria = pd.DataFrame({"Tienda 1":ventas_tienda_por_categoria,
                                                "Tienda 2":ventas_tienda2_por_categoria,
                                                "Tienda 3":ventas_tienda3_por_categoria,
                                                "Tienda 4":ventas_tienda4_por_categoria})

df_ventas_tiendas_por_categoria

                         Tienda 1  Tienda 2  Tienda 3  Tienda 4
Categoría del Producto
Artículos para el hogar       171       181       177       201
Deportes y diversión          284       275       277       277
Electrodomésticos             312       305       278       254
Electrónicos                  448       422       451       451
Instrumentos musicales        182       224       177       170
Juguetes                      324       313       315       338
Libros                        173       197       185       187
Muebles                       465       442       499       480

# 3. Calificación promedio de la tienda

In [18]:
calificacion_promedio_tienda = tienda['Calificación'].mean()
calificacion_promedio_tienda2 = tienda2['Calificación'].mean()
calificacion_promedio_tienda3 = tienda3['Calificación'].mean()
calificacion_promedio_tienda4 = tienda4['Calificación'].mean()

df_calificacion_tiendas = pd.DataFrame(columns=["conteo"],data=[calificacion_promedio_tienda,
                                                calificacion_promedio_tienda2,
                                                calificacion_promedio_tienda3,
                                                calificacion_promedio_tienda4], index=["Tienda 1","Tienda 2","Tienda 3","Tienda 4"])
df_calificacion_tiendas

            conteo
Tienda 1  3.976685
Tienda 2  4.037304
Tienda 3  4.048326
Tienda 4  3.995759

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda